.preview {
	display: inline-block;
}

.preview img {
	height: auto;
	max-width: 270px;
}

#firstContentRow {
	text-align: center;
}

.preview:nth-child(3n+1){
      clear: left;
}

#topGames ul li {
	list-style: none;
}

#topGames ul {
	padding: 0;
}

h3 {
	font-size: 18px;
	text-align: center;
}

#value {
	width: 100%;
}