body{
  background:url("../images/background.jpg");
  color:white;
}
h3{
  font-family: 'Orbitron', sans-serif;
  background:rgba(0,0,0,0.8);
  width:100%;
}

.jumbotron{
  background-color:rgba(0,0,0,0.9);
  color:#ccc;
  padding-top: 10px;
  margin-top: 20px;
}
.jumbotron h1{
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 100px;
}
#h2{
  font-size: 140px;
}
.jumbotron p{
  font-family: 'Orbitron', sans-serif;
  
}
.modal-title{
  color:black;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
.modal-body{
  color:black;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}
.mapboxgl-popup-content{
  color:black;
}
.panel-default > .panel-heading {
	background-color:rgba(0,0,0,0.7);
	color:#ccc;
  font-family:'Orbitron', sans-serif; 
  border-color: skyblue;
}
#firstPanel{
  font-size: 30px;
}
#secondPanel{
  font-size: 30px;
}
.panel{
  border:0px;
  background: rgba(0,0,0,0.7);
}
.panel-heading{
  border-bottom:4px solid skyblue;
}
.col-sm-2{
  padding:0px;
  padding-top: 10px;
}

.sidePanelHeader h3 {
	text-transform: uppercase;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

#value{
  border-radius: 100px;
}
#send {
  border-radius: 100px;
}
#topGames ul li {
	list-style: none;
	padding: 5px;
	max-width: 100%;
  font-family: 'Orbitron', sans-serif;
}

#topGames ul {
	padding: 0;
}

p{
  font-size: small;
  color:#ddd;
  font-family: 'Orbitron', sans-serif;
}

img{
	border:0px;
	box-shadow: 2px 2px 3px #555562;
  max-width: 230px;
  
}

#searchArea {
	text-align: center;
	margin-bottom: 10px;
  font-weight: bold;
  margin-top: 10px;
  color:darkred;
}
#switch{
  color:#444;
  border-radius: 100px;
  font-weight:bold;
}
#userEmail {
	width: 100%;
	margin-top: 5px; 
  border-radius: 100px;
  color:darkred;
  font-weight: bold;
}

#emailButton {
	margin: 5px 30%;
	position: center;
}

#emailArea {
	padding: 5px;
	text-align: center;
	padding-top: 0;
}

input {
	text-align: center;
}

.themeButton {
	height: 40px;
	width: 40px;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 4px;
}

#blue {
	background: #3E6990;
}

#orange {
	background: #cc5500;
}

#donny {
	background: white;
}
#sid {
	background: darkred;
}
