.preview {
	display: inline-block;
}

.preview img {
	height: auto;
	max-width: 270px;
	width: 100%;
}

#firstContentRow {
	text-align: center;
}
#secondContentRow {
	text-align: center;
}

.preview:nth-child(3n+1){
      clear: left;
}

#topGames ul li {
	list-style: none;
	padding: 5px 0;
	max-width: 100%;
}

#topGames ul {
	padding: 0;
}

h3 {
	font-size: 18px;
	text-align: center;
}

#value {
	max-width: 80%;
	display: inline;
	height: 30px;
}

#send {
	display: inline;
	height: 30px;
}

.panel-title {
	text-align: left;
}

#firstPanel a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.liveViewers {
	color: red;
}

#topGames li:hover{
	cursor: pointer;
	background: #EEE;
}