body {
/*	background: #292E37;*/
background: #505050;
font-family: 'Roboto';
}

.panel-default>.panel-heading {
	padding: 20px 0;
	background-color: #cc5500;
}

.panel-title {
	font-family: 'Roboto';
	padding-left: 10px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
	color: white;
}

.panel-heading {
	border-radius: 4px;
}

.panel {
	background: #E0E0E0;

}

.sidePanel {
	background: #E0E0E0;
}

.sidePanelHeader {
	background: #cc5500;
	padding: 5px 0;
	color: white;
}

.sidePanelHeader h3 {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}

/*#topGames {
	padding-left: 5px;
}*/

.preview {
	display: inline-block;
}

.preview img {
	height: auto;
	max-width: 270px;
	width: 100%;
}

#firstContentRow {
	text-align: center;
}
#secondContentRow {
	text-align: center;
}

.preview:nth-child(3n+1){
      clear: left;
}

#topGames ul li {
	list-style: none;
	padding-top: 5px;
	max-width: 100%;
	padding-left: 5px;
}

#topGames ul {
	padding: 0;
	margin: 0;
}

h3 {
	font-size: 18px;
	text-align: center;
}

#value {
	max-width: 80%;
	display: inline;
	height: 30px;
}

#send {
	display: inline;
	height: 30px;
}

.panel-title {
	text-align: left;
}

#firstPanel a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.liveViewers {
	color: red;
}

#topGames li:hover{
	cursor: pointer;
	background: #CC5500;
	color: white;
}

.col-sm-2 {
	background: #E0E0E0;
	padding: 0;
	padding-top: 5px;
	border: 0;
}

#searchArea {
	text-align: center;
	margin-bottom: 10px;
}

#userEmail {
	width: 100%;
	margin-top: 5px; 
}

#emailButton {
	margin: 5px 30%;
	position: center;
}

#emailArea {
	padding: 5px;
	text-align: center;
	padding-top: 0;
}

input {
	text-align: center;
}

.themeButton {
	height: 40px;
	width: 40px;
	margin: 10px;
	border: 1px solid black;
	border-radius: 4px;
}

#blue {
	background: #3E6990;
}

#orange {
	background: #cc5500;
}

#white {
	background: white;
}